<% var stylesheet = "admin" %>
<% var title = "Admin Parties" %>
<% include ../_header %>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    <table class="responsive">

      <tr>
        <th>Nome</th>
        <th>Lugar</th>
        <th>Data</th>
        <th>Tipo de Lista</th>
        <th>Contato Lista</th>
      </tr>
        <% parties.forEach(function(party) { %>
          <tr>
            <td> <%= party.get('name') %> </td>
            <td> <%= party.get('place').get('name') %> </td>
            <td> <%= party.get('date') %> </td>
            <td> <%= party.get('sendNamesType') %> </td>
            <td> <%= party.get('sendNamesTo') %> </td>
          </tr>
        <% }) %>

    </table>
    <div class="pagination-centered">
      <ul class="pagination">
        <% partiesCount.forEach(function(pageNumber){ %>
          <%if(pageNumber==currentPage){%>
            <li class="current"><a href="http://partyup.parseapp.com/parties?page=<%=pageNumber%>"><%=pageNumber +1%></a></li>
          <%} else {%>
            <li><a href="http://partyup.parseapp.com/parties?page=<%=pageNumber%>"><%=pageNumber + 1%></a></li>
          <%}%>
        <% }) %>
      </ul>
    </div>
</div>
  </div>
</div>


<% include ../_footer %>
